.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/TXPO.owl
src/ontology/TXPO.obo
src/ontology/TXPO.json
src/ontology/TXPO-base.*
src/ontology/TXPO-basic.*
src/ontology/TXPO-full.*
src/ontology/TXPO-simple.*
src/ontology/TXPO-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl